<h1>Profile</h1>

<p><%= link_to  'Main page', '/index' %></p>

<p>Username: <%= current_user.username %>
<p>E-mail: <%= current_user.email %>	
<p>Last request options: <%= current_user.requests.last(1).first.lang if defined? current_user.requests.last(1).first.lang%> 
	<%= current_user.requests.last(1).first.text if defined? current_user.requests.last(1).first.text %>
<p>Last request time: <%= current_user.requests.last(1).first.created_at if defined? current_user.requests.last(1).first.created_at  %>
<p><%= link_to "Journal", journal_path(required_user: current_user) %>
<p><%= link_to "Delete account", destroy_user_path(required_user: current_user), method: 'delete' %>