<h1>Profile</h1>

<p><%= link_to  'Main page', '/index' %></p>

<p>Username: <%= current_user.username %>
<p>Last request options: <%= current_user.requests.last(1).first.lang%> 
	<%= current_user.requests.last(1).first.text %>
<p>Last request time: <%= current_user.requests.last(1).first.created_at %>
