<h1>Users list</h1>

<p><%= link_to  'Main page', root_path %></p></br>

<% users_collection.each do |user| %>
	<p>
		<%= user.username %>: <%= user.requests.size %> request(s). 
		User's journal:
		<%= link_to 'show', journal_path(required_user: user) %>
		,
		<%= link_to 'delete journal', destroy_journal_path(required_user: user), method: 'delete', data: { confirm: 'Are you sure?' } %>
		,
		<%= link_to 'delete user', destroy_user_path(required_user: user), method: 'delete', data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>
