<h1>Users list</h1>

<p><%= link_to  'Main page', '/index' %></p></br>

<% @users_collection.each do |user| %>
	<p>
		<%= user.username %>: <%= user.requests.size %> request(s). 
		User's journal:
		<%= link_to 'show', journal_path(id: user) %>
		,
		<%= link_to 'delete', journal_destroy_path(id: user), method: 'delete', data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>
