<h1> Yandex Dictionary</h1>

<p>
	Hello, <%= link_to current_user.username, '/profile'  %>. 
	<%= link_to 'Logout', logout_path, method: 'delete' %><br/>
</p>

<p> <%= link_to 'Users list', '/users/show'  %> </p>

<br/>
<%= form_tag '/lookup', method: "post" do %>
  <p> <%= label_tag :lang, 'Lang: ' %>
	<% lang_list = @langs_collection.map{ |lang| [lang ,lang] } %>
	<%= select_tag :lang, options_for_select(lang_list, 'en-ru')%>
	<p><%= label_tag :text, 'Text: ' %>
	<%= text_area_tag :text %>
	<p><%= submit_tag 'Search' %>
<% end %>


<p>Last 10 requests:</p>
<% @last.reverse_each do |request| %>
	<%= request.lang %>  <%= request.text %><br/>
<% end %>

<p><%= link_to "Journal", journal_path(id: current_user) %>

<center>
	Реализовано с помощью сервиса <%= link_to '«Яндекс.Словарь»', 'http://api.yandex.ru/dictionary/'%>
<center>