<h1>Journal</h1>

</br><a href="/index">Back</a></br>

</br><a data-method="delete" href="/journal/destroy">Delete journal</a></br></br>

=============================================<br/>
<% current_user.requests.each do |request| %> 
	Lang: <%= request.lang %>  Text: <%= request.text %><br/><br/>
	texts:  <%= request.texts %> <br/>
	positions:  <%= request.positions %> <br/>
	transcriptions:  <%= request.transcriptions %> <br/>
	translation_texts:  <%= request.translation_texts %> <br/>
	=============================================<br/>
<% end %>