<h1>Lookup</h1>

<a href="/index">Back</a></br></br>

<%= params[:text].gsub("%20", " ")  if @articles.empty? %>

<% @articles.each do |art| %>
	text: <%= art.text %> <br/>	
	position: <%= art.position %> <br/>
	transcription: <%= art.transcription %> <br/>
	translation: <br/>
	<% art.translation.each do |x| %>
		__text: <%= x.text	if x.text %> <br/>	
		__position: <%= x.position  if x.position %> <br/>
		__gender: 	<%= x.gender		if x.gender	%><br/>
		__animated: <%= x.animated 	if x.animated %><br/>
		__synonym: 	<%= x.synonym  	if x.synonym %><br/>
		__meaning: 	<%= x.meaning  	if x.meaning %><br/>
		__example: 	<%= x.example  	if x.example %><br/>
		__aspect: 	<%= x.aspect 		if x.aspect %><br/>
		<br/>
	<% end %>
	=================</p>
<% end %>
