<h1>Lookup</h1>

<p><%= link_to  'Main page', '/index' %></p>
<%= params[:text]  if @articles_collection.empty? %>

<% @articles_collection.each do |art| %>
	text: <%= art.text %> <br/>	
	position: <%= art.position %> <br/>
	transcription: <%= art.transcription %> <br/>
	translation: <br/>
	<% art.translation.each do |x| %>
	<ul>
		text: <%= x.text	if x.text %> <br/>	
		position: <%= x.position  if x.position %> <br/>
		gender: 	<%= x.gender		if x.gender	%><br/>
		animated: <%= x.animated 	if x.animated %><br/>
		synonym: 	<%= x.synonym  	if x.synonym %><br/>
		meaning: 	<%= x.meaning  	if x.meaning %><br/>
		example: 	<%= x.example  	if x.example %><br/>
		aspect: 	<%= x.aspect 		if x.aspect %><br/>
		<br/>
	</ul>
	<% end %>
	<hr width=400 align=left>

	<% end %>
