<h1>Journal</h1>

<p><%= link_to('/index'){ 'Main page' } %></p>

<p><%= link_to(journal_destroy_path(current_user), method: 'delete', data: { confirm: 'Are you sure?' }){'Delete'} %><br/>


=============================================<br/>
<%@requests.each do |request| %> 
		Lang: <%= request.lang %><br/>  
		Text: <%= request.text %><br/><br/>
<%	request.articles.each do |article| %>
			text:  					<%= article.text 					%> <br/>
			position:  			<%= article.position 			%> <br/>
			transcription:  <%= article.transcription %> <br/>
			translation: 																 <br/>
		<% article.translation_articles.each do |tr_art| %>
				__text:  			<%= tr_art.text 		 	%><br/>
				__position: 	<%= tr_art.position 	%><br/>
				__gender:  		<%= tr_art.gender 		%><br/>
				__animated:  	<%= tr_art.animated 	%><br/>
				__synonym:		<%= tr_art.synonym 		%><br/>
				__meaning:  	<%= tr_art.meaning 		%><br/>
				__example:  	<%= tr_art.example 		%><br/>
				__aspect:  		<%= tr_art.aspect 		%><br/>
				<br/>
		<%end%>
			<br/>
	<% end %>
	=============================================<br/>
<% end %>