<h1>Journal</h1>

<p><%= link_to('/index'){ 'Back' } %></p>

<p><%= link_to('/journal/destroy', method: 'delete'){ 'Delete journal' } %></p>

<%@requests.each do |request| %> 
		Lang: <%= request.lang %>  Text: <%= request.text %><br/><br/>
<%	request.articles.each do |article| %>
			text:  					<%= article.text 					%> <br/>
			position:  			<%= article.position 			%> <br/>
			transcription:  <%= article.transcription %> <br/>
			translation: 																 <br/>
		<% article.translation_articles.each do |x| %>
				__text:  			<%= x.text 		 	%><br/>
				__position: 	<%= x.position 	%><br/>
				__gender:  		<%= x.gender 		%><br/>
				__animated:  	<%= x.animated 	%><br/>
				__synonym:		<%= x.synonym 	%><br/>
				__meaning:  	<%= x.meaning 	%><br/>
				__example:  	<%= x.example 	%><br/>
				__aspect:  		<%= x.aspect 		%><br/>
		<%end%>
			<br/>
	<% end %>
	=============================================<br/>
<% end %>