<h1>Journal</h1>

<p><%= link_to 'Delete', destroy_journal_path(required_user: current_user), method: 'delete', data: { confirm: 'Are you sure?' } %></p><br/>


<%requests_collection.each do |request| %> 
	
			Lang:<%= request.lang %><br/>
			Text:<%= request.text %><br/>
			<%	request.articles.each do |article| %>
				text:  					<%= article.text 					%> <br/>
				position:  			<%= article.position 			%> <br/>
				transcription:  <%= article.transcription %> <br/>
				translation: 																 <br/>
				<ul>
					<% article.translation_articles.each do |tr_art| %>
							text:  			<%= tr_art.text 		 	%><br/>
							position: 	<%= tr_art.position 	%><br/>
							gender:  		<%= tr_art.gender 		%><br/>
							animated:  	<%= tr_art.animated 	%><br/>
							synonym:		<%= tr_art.synonym 		%><br/>
							meaning:  	<%= tr_art.meaning 		%><br/>
							example:  	<%= tr_art.example 		%><br/>
							aspect:  		<%= tr_art.aspect 		%><br/>
							<br/>
					<%end%>
				</ul>
				<br/>
		<% end %>
<% end %>

